* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

#game-board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50vw;
  height: 50vw;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 5rem;
  width: calc(50vw / 3 - 2px);
  height: calc(50vw / 3 - 2px);
}

#button-section {
  display: flex;
  margin-top: 20px;
}

#new-game {
  margin: auto;
}
