* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1,
h2 {
  display: flex;
  justify-content: center;
}

#game-board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min(50vw, 506px);
  height: min(50vw, 506px);
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: min(10vw, 100px);
  width: min(calc(50vw / 3 - 2px), 166px);
  height: min(calc(50vw / 3 - 2px), 166px);
}

#button-section {
  display: flex;
  margin-top: 20px;
}

#new-game {
  margin: auto;
}
